# Local Netlify folder
.netlify

# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# Local artifacts
*.zip
index (1).html
index (2).zip
index .html
index.zip
my-app/
